<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Operation</title>
</head>
<body>
    <h1>Hello World</h1>
    <form method="post" action="">
        {{form.hidden_tag()}}
        {{form.name.label()}}
        {{form.name()}}<br>
        {{form.age.label()}}
        {{form.age()}}<br>
        {{form.email.label()}}
        {{form.email()}}<br>
        {{form.city.label()}}
        {{form.city()}}<br>
        {{form.submit.label()}}
        {{form.submit()}}<br>
        
    </form>
</body>
</html>